@use "./partials/mixins";
@use "./partials/media-queries";

* {
    font-family: serif;
    margin: 0;   
};

main {
    height: 100%;
}
h1 {
        padding: 10px;
        font-size: 64px;
        font-family: Cinzel;
        font-weight: 600;
            @include media-queries.phone {
                    padding: 0, 10px, 0, 0;  
                    font-size: 56px;   
                }
}

h2 {
    font-family: Cinzel;
    color: #0E4171;
    padding: 10px;
    font-size: 32px;
        @include media-queries.phone {
               padding: 5px, 10px, 5px, 5px;   
            }
}

h3 {
    font-family: Cinzel;
    color: #0E4171;
    padding: 10px;
        @include media-queries.phone {
                padding: 5px;
        
            }
}

nav {
    @include mixins.flex-display-direction-align(flex, row, center);
    width: 100%;
    justify-content: end;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    // opacity: 75%;
    position: fixed;
    top: 0;
    @include media-queries.phone {
        justify-content: space-between;
    }

    & a {
       display: flex;
       padding: 10px;
       margin: 10px;
       color: #0E4171;
       text-decoration: none;
       font-weight: 200;
       font-size: 24px;
        opacity: 100%;
        @include media-queries.phone {
                padding: 20px;
                font-size: 16px;       
            }
       
       &:visited {
        text-decoration: none;
        color:#0E4171;
        font-weight: 200;
       }
    };
};


#home {
    @include mixins.flex-display-direction-align(flex, row, center);
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

        @include media-queries.phone {
                justify-content: space-between;
                margin-top: 75px;
        
            }
        @include media-queries.tablet {
            justify-content: space-between;
            margin-top: 60px;
                    
        }
        @include media-queries.laptop {
            justify-content: space-between;
             margin-top: 50px;
        
        }

    & .logo {
        width: 300px;
        height: 300px;
            @include media-queries.phone {
                   width: 100%;
                   height: 100%;
                   padding-left:20px;
            
            }
            @include media-queries.tablet {
            width: 100%;
            height: 100%;
            padding-left: 20px;
        
            }
            @include media-queries.laptop {
            width: 100%;
            height: 100%;
            padding-left: 20px;
                        
            }
    }
    
    
    & .home__h2 {
        @extend h2;
        font-weight: lighter;

            @include media-queries.phone {
                 font-size: 24px;
            
            }
            @include media-queries.tablet {
             font-size: 24px;
            
            }
            @include media-queries.laptop {
             font-size: 24px;
        
            }
    };
};
    
#skills {
    @include mixins.flex-display-direction-align(flex, column, center);
    justify-content: center;
    width:100%;
    margin-top: 20px;
    & .skills {        
            
        &__card {
            @include mixins.flex-display-direction-align(flex, row, center);
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            gap: 20px;
            
            
            
            &__items {
                @include mixins.flex-display-direction-align(flex, column, center);
                width: 300px;
                justify-content: start;
                gap: 10px;
                padding: 5px;
                font-size: 30px;
                color:#0E4171;
                
                @include media-queries.large {
                    justify-content: center;
                
                    }
                @include media-queries.xxlDesktop {
                    justify-content: center;
                    
                }
            }
        }
        
        &__icons {
            height: 45px;
            width: 45px;
        }
    }
}
    
#projects {
    background-color: #8BC6EC;
        background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    @include mixins.flex-display-direction-align(flex, column, center);
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;

    & .project {
    
        &__container {
            @include mixins.flex-display-direction-align(flex, row, center);
            justify-content: center;
            flex-wrap: wrap;
    }
    
    &__card {
        @include mixins.flex-display-direction-align(flex, column, center);
        padding: 20px;
        gap: 20px;
        margin: 20px;
        align-items: start;
        font-size: 20px;
        flex-wrap: wrap;
        max-width: 350px;

        &__icons {
            @include mixins.flex-display-direction-align(flex, row, center);
        }

    }
    
    &__links {
        text-decoration: none;
        &:visited {
            text-decoration: none;
        }
    }
    &__icons {
        height: 46px;
        width: 46px;
        
    }  
    
}
};


#about-me {
 @include mixins.flex-display-direction-align(flex, column, center);
 justify-content: space-between;
 width: 100%;
 margin-top: 20px;
 margin-bottom: 20px;
    @include media-queries.xxlDesktop {
             @include mixins.flex-display-direction-align(flex, row, center);
         }
    

 & .about-me {
        &__card {
        @include mixins.flex-display-direction-align(flex, column, center);
        justify-content: space-between;
        width: 100%;
        @include media-queries.xxlDesktop {
                @include mixins.flex-display-direction-align(flex, row, center);
        }
        
        &__section {
            margin-left: 15px;
            @include mixins.flex-display-direction-align(flex, column, center);
            gap: 40px;
            justify-content: center;
            @include media-queries.xxlDesktop {
                @include mixins.flex-display-direction-align(flex, row, center);
             }
        }

        & p {
            display: flex;
            text-align: left;
            font-size: 24px;
            max-width: 400px;
            border-left: 1px solid #0E4171;
            padding: 20px;
            color: #0E4171;
        }

        &__contact {
            @include mixins.flex-display-direction-align(flex, column, center);
            margin-right: 15px;
            & a {
                margin-right: 15px;
                text-decoration: none;
                &:visited {
                    text-decoration: none;
                }
            }
            &__h1 {
                color:#0E4171;
                font-size: 32px;
                @include media-queries.xxlDesktop {
                       font-size: 64px;
                    }
            }
        }
    }
    
    
    &__img {
        width: 300px;
        height: 300px;
    }
    
    }
}
    

footer {
    width: 100%;
    color:#0E4171;
}